@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box !important;
    padding: 0; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    html {
        @apply h-full;
    }
}

@layer components {
    .upload-plus-icon {
        display: none;
    }

    .material-symbols-outlined {
        @apply text-indigo-400 border-indigo-400 border-2 p-4;
        cursor: pointer;
        z-index: 2;
    }

    #gallery-bar{
        @apply flex items-center justify-start h-full font-bold m-5 text-xl; 
        width: 10%;
        flex-direction: column;
        overflow-y: auto;
    }
    
    #gallery-bar img {
        @apply relative w-full m-4;
        z-index: 1;
    }
    
    main {
        @apply flex items-center h-full w-full m-8;
    }
    
    #main-section {
        @apply fixed text-indigo-600 text-5xl; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #main-section img {
        @apply max-w-full;
    }
    
    body {
        @apply flex items-center justify-center h-screen w-screen p-0 m-0; 
        flex-direction: column;
      }
    
      canvas {
        @apply absolute max-w-full;
        top: 0;
        left: 0;
      }    
}

